.navbutton {
    margin: 0 30px 0 30px;
    padding: 7px 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 17px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.009em;
    outline: none;
    position: relative;

    //border: 1px solid blue;
}

.navbutton:hover {
    background-color: #016eea;
}
