.main-dropdown-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

/*-------dropdown-button--------*/
.main-dropdown-button {
    font-size: 18px;
    width: 150px;
    color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 10px;
    background-color: transparent;
    padding: 14px 30px;
    outline: none;
}

.main-dropdown {
    width: 150px;
    position: relative;
    margin-bottom: 140px;
}

.main-dropdown-content {
    position: absolute;
    width: 150px;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    border: 1.5px solid;
    border-top: 0px;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
    transition:0.2s;
}

.main-dropdown-content a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: block;
}

.main-dropdown-content a:hover{
    background-color:  rgba(0, 0, 0, 0.05);
}

.main-dropdown:hover .main-dropdown-content  {
    visibility: visible;
    opacity: 1;
}

.main-dropdown:hover .main-dropdown-button {
    border-radius: 10px 10px 0 0;
}


/*-------dropdown-menu--------*/
.main-dropdown2 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 15px;
    width: 400px;

}
.main-dropdown-nav-element {
    border: 1.5px solid;
    border-color: rgba(0, 0, 0, 0.3);
    padding: 14px 30px;
    color: rgba(0, 0, 0, 0.3);
}

.main-dropdown2-content {
    border: 1.5px solid;
    border-top: none;
    border-color: rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    text-align: center;
    list-style: none;
    opacity: 0;
    transition:0.2s;
}

.main-dropdown2-content li  {
    padding: 14px 30px;
}

.main-dropdown2-content li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#li1:hover .main-dropdown2-content {
    opacity: 1;
}
#li2:hover .main-dropdown2-content {
    opacity: 1;
}

#li3:hover .main-dropdown2-content {
    opacity: 1;
}
